#myCanvas 
{
    z-index: 1; 
    position: absolute;
    top: 5px;
    left: 5px;
    border:3px solid gray;
}

#background 
{
    z-index: 0; 
    position: absolute;
    top: 5px;
    left: 5px;
    border:3px solid gray;
}

#pause 
{
    z-index:-1; 
    height: 60%; 
    width: 60%; 
    position:absolute; 
    top: 20%; 
    left:20%;
}

#startMenu 
{
    z-index: -1;
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#title 
{
    height: 50%; 
    width: 50%;
    position: absolute; 
    top: 7%; 
    left: 26%;
}

#singlePlayer 
{
    height: 60%; 
    width: 30%;
    position: absolute; 
    top: 50%; 
    left: 33%;
}